body { /* Addresses a small issue in webkit: http://bit.ly/NEdoDq */
    background-color: #2e2e2e;
    color: #7f7f7f;
    font-family: "Menlo", Monaco, monospace;
    font-size: 11px;
}

.placeholder {
    -webkit-backface-visibility: hidden;
    -webkit-animation-fill-mode: both;
       -moz-animation-fill-mode: both;
         -o-animation-fill-mode: both;
            animation-fill-mode: both;

    font-size: 14px;
    text-align: center;
}
